<!doctype html>
{% extends 'base.html' %}
{% block body %}

<div class="fillscreen">
    <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698867282/Lee%20Deco/St-Lukes-Anderson-2-2048x1386_ssxrxl.jpg" alt="St-Lukes" style="width:100%; -webkit-mask-image: linear-gradient(black, transparent);">
     <div class="usps">
      <div>
      <h11 class="card-title">✔ Dry Ice Blasting Technology</h11>
      </div>
      <div>
      <h11 class="card-title">✔ Nationwide mobilization capability</h11>
      </div>
      <div>
      <h11 class="card-title">✔ Guarenteed on-time and on-budget delivery</h11>
      </div>
    </div>
    <br>
    <br>
        <h1 class="slogantext"> Commercial Painters</h1>
        <h4 class="slogantext">Commercial painters bring precision, planning, and reliable results to every job. 
            Lee Decorating Inc. delivers that level of care on every project. 
            As trusted commercial painters in PA, we understand tight schedules, complex surfaces, and the need for minimal disruption. 
            Clients across the region count on commercial painters who get it right the first time.</h4>
        <br>
        <br>
        <div class="centertext">
            <br>
            <h2 class="slogantext">
              Schedule a Consultation with Our Experts
            </h2>
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#estimateModal">Free Estimate Today</button>
        </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 class="centertext titletext">Learn More About What We Are Capable Of</h2>
  <br>

  <div class="card-group">
    <div class="card">
      <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1708457763/Lee%20Deco/6415f84ea4cc5670a42725ad_one_qnti54.png" style="border-radius: 50%;height: 230px;"  class="card-img-top" alt="...">
      <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined">home</i>  Residential</h11>
      </div>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698889478/Lee%20Deco/Home-2-Warminster-2-Copy_jwcu56.webp" style="border-radius: 50%; height: 230px;"  class="card-img-top" alt="...">
      <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined">apartment</i>  Commercial</h11>
      </div>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698888263/Lee%20Deco/ventilation-pipes-silver-insulation-material-hanging-from-ceiling-inside-new-building-modern-industrial-factory_116317-14368_zv3fdg.jpg" style="border-radius: 50%; height: 230px;" class="card-img-top" alt="...">
      <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined icon">precision_manufacturing</i>  Industrial</h11>
      </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698894560/Lee%20Deco/11563_022_V3-3_ehnr2i.jpg" style="border-radius: 50%; height: 230px;" style="border-radius: 100%; height: 230px;" class="card-img-top" alt="...">
        <div class="card-body abouttext centertext">
            <h11 class="card-title"><i class="material-symbols-outlined md-36">wallpaper_slideshow</i> Wall Covering</h11>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698888540/Lee%20Deco/rockhard-usa-3-gal-epoxy-coating-kit-563767_ph07hj.jpg" style="border-radius: 50%; height: 230px;"  class="card-img-top" alt="...">
        <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined">format_color_fill</i>  Epoxy Coating</h11>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698888645/Lee%20Deco/waterpark_srs5ac.jpg" style="border-radius: 50%; height: 230px;" class="card-img-top" alt="...">
        <div class="card-body abouttext centertext">
          <h11 class="card-title"><i class="material-symbols-outlined">pool</i>  Waterpark Maintenance</h11>
        </div>
      </div>
  </div>

  <br>
  <br>
  <br>
  <br>
 
  <br>

  <div class="card text-center">
    <div class="card-body" style="width: 80%; margin: auto;">
      <br>
      <br>
      <br>
      <h2 class="card-title slogantext">What Kind of Services Do Our Commercial Painters Offer?</h2>
      <br>
        <h4 class="card-text abouttext">
            Our commercial painters provide a full range of solutions for businesses, property managers, and facility owners. 
            As a trusted <a href="/">painting company</a>, we handle everything from surface prep and priming to detailed finishes tailored to each space. 
            Our <a href="/commercial-exterior-painting-service">commercial exterior painting service</a> includes weather-resistant coatings, safety markings, and restoration work for aging façades. 
            Inside, our <a href="/commercial-interior-painters">commercial interior painters</a> commercial interior painters focus on clean lines, low-odor products, and efficient project timelines that limit disruption.
        </h4>
      <br>
      <br>
      <div class="whiteline"></div>
      <br>
      <br>
      <br>
      <h2 class="card-title slogantext">Schedule a Consultation with Our Experts</h2>
      <br>
        <h4 class="card-text abouttext"> 
          Commercial painters with the right skills can completely change the way your space looks and functions. 
          If you’re searching for trusted commercial painters in your area, our design company is ready to deliver precise, reliable work that fits your goals and timeline. 
          Ready to take the next step? 
          <a href="/contact">Contact us</a> today to schedule a consultation and find out how our team of commercial painters can bring your vision to life.
        </h4>
      <br>

    </div>
  </div>
  <br>
  <br>
  <div class="centertext">
    <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1702974293/Lee%20Deco/whitelogo_zzpbz6.png"  style="width:30%">
    </div>
  <br>
  <!-- <h2 class="titletext">Testimonials</h2> -->


{% endblock %}