<!doctype html>
{% extends 'base.html' %}
{% block body %}

<div class="fillscreen">
    <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698867282/Lee%20Deco/St-Lukes-Anderson-2-2048x1386_ssxrxl.jpg" alt="St-Lukes" style="width:100%; -webkit-mask-image: linear-gradient(black, transparent);">
    <!-- <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698889478/Lee%20Deco/Home-2-Warminster-2-Copy_jwcu56.webp" alt="St-Lukes" style="width:100%; -webkit-mask-image: linear-gradient(black, transparent);"> -->
        <h1 class="slogantext"> Where Quality Meets the Canvas, Brushed Onto Every Surface</h1>
        <h4 class="slogantext">Decades of experience, with 30+ years in business</h4>
        <div class="centertext">
            <br>
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#estimateModal">Free Estimate Today</button>
        </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 class="centertext titletext">Learn More About What We Are Capable Of</h2>
  <br>

  <div class="card-group">
    <div class="card">
      <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1692424709/Lee%20Deco/HallwaysTREND11-1-700x627_ifn2ye.jpg" style="border-radius: 50%;height: 230px;"  class="card-img-top" alt="...">
      <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined">home</i>  Residental</h11>
      </div>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698889478/Lee%20Deco/Home-2-Warminster-2-Copy_jwcu56.webp" style="border-radius: 50%; height: 230px;"  class="card-img-top" alt="...">
      <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined">apartment</i>  Commercial</h11>
      </div>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698888263/Lee%20Deco/ventilation-pipes-silver-insulation-material-hanging-from-ceiling-inside-new-building-modern-industrial-factory_116317-14368_zv3fdg.jpg" style="border-radius: 50%; height: 230px;" class="card-img-top" alt="...">
      <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined icon">precision_manufacturing</i>  Industrial</h11>
      </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698894560/Lee%20Deco/11563_022_V3-3_ehnr2i.jpg" style="border-radius: 50%; height: 230px;" style="border-radius: 100%; height: 230px;" class="card-img-top" alt="...">
        <div class="card-body abouttext centertext">
            <h11 class="card-title"><i class="material-symbols-outlined md-36">wallpaper_slideshow</i> Wall Covering</h11>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698888540/Lee%20Deco/rockhard-usa-3-gal-epoxy-coating-kit-563767_ph07hj.jpg" style="border-radius: 50%; height: 230px;"  class="card-img-top" alt="...">
        <div class="card-body abouttext centertext">
        <h11 class="card-title"><i class="material-symbols-outlined">format_color_fill</i>  Epoxy Coating</h11>
        </div>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698888645/Lee%20Deco/waterpark_srs5ac.jpg" style="border-radius: 50%; height: 230px;" class="card-img-top" alt="...">
        <div class="card-body abouttext centertext">
          <h11 class="card-title"><i class="material-symbols-outlined">pool</i>  Waterpark Maitenance</h11>
        </div>
      </div>
  </div>

  <br>
  <br>
  <br>
  <br>
 
  <br>

  <div class="card text-center">
    <div class="card-body" style="width: 80%; margin: auto;">
      <br>
      <br>
      <br>
      <h2 class="card-title slogantext">A Legacy of Excellence</h2>
      <br>
        <h4 class="card-text abouttext">For more than a quarter-century, Lee Decorating Inc. has been a cornerstone of excellence, delivering unparalleled painting and wall covering finishing services across the United States. Our legacy is etched in the completion of hundreds of distinctive and challenging projects, leaving a mark of craftsmanship and distinction throughout the country.
        </h4>
      <br>
      <br>
      <div class="whiteline"></div>
      <br>
      <br>
      <br>
      <h2 class="card-title slogantext">Our Mission</h2>
      <br>
        <h4 class="card-text abouttext"> Celebrating a Palette of Possibilities: Lee Decorating Inc. is dedicated to enriching lives and spaces through the transformative power of paint. With a commitment to innovation, sustainability, and personalized service, we aspire to inspire creativity, enhance aesthetics, and leave a lasting impression on every surface we touch. Our mission is to be the trusted partner in color, delivering not just paint, but a vibrant expression of individuality, quality, and enduring beauty to homes and spaces around the world.</h4>
      <br>

    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- <h2 class="titletext">Testimonials</h2> -->


{% endblock %}