<!doctype html>
{% extends 'base.html' %}
{% block body %}
<div class="projectsback">
<br>
<br>
<br>
<h2 class="slogantext">Take a Look at some of our finished projects</h2>
<br>
<br>
<div class="projectscontainer center">
        <div class="carousel slide" id="carousel" style="margin: auto" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843748/Lee%20Deco/Armory_Exterior_fffvxl.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843747/Lee%20Deco/Armory_Apartments_2_y07ytp.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843747/Lee%20Deco/Armory_Apartments_1_tqivom.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843751/Lee%20Deco/Seville_Apartments_3_b04iso.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843751/Lee%20Deco/Seville_Apartments_2_e8ue7x.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843750/Lee%20Deco/Seville_Apartments_1_e1vopz.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1698889478/Lee%20Deco/Home-2-Warminster-2-Copy_jwcu56.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843752/Lee%20Deco/SLUHN_Anderson_1_bkjz4b.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843754/Lee%20Deco/SLUHN_Monroe_1_pkavzw.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843755/Lee%20Deco/Villa_Lounge_1_jelnnb.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843755/Lee%20Deco/Villas_1_u82hzp.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843762/Lee%20Deco/SLUHN_Pocono_Summit_usdamc.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dbdyyg3uy/image/upload/v1701843764/Lee%20Deco/SLUHN_Anderson_2_xde3xd.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<br>
<br>
{% endblock %}