<!doctype html>
{% extends 'base.html' %}
{% block body %}
<div class="servicescontainer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="centertext slogantext">We can service the Residental, Retail, Hospitality, Medical, and Entertainment Industries</h1>
    <br>
    <br>
    <h4 class="centertext slogantext">We offer many speciality services our competitors do not including the following:</h4>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="column">
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h4 class="card-title">Commercial Painting</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Industrial Painting</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Decking and Siding Stripping and Staining</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Dry Ice Blasting/h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Residental Painting</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Dry Ice Blasting</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Pressure Washing</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 80%; text-align: center;">
                <div class="card-body">
                  <h5 class="card-title">Industrial Floor Coatings</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    </div>

{% endblock %}