<!doctype html>
{% extends 'base.html' %}
{% block body %}
<div class="servicescontainer">
    
    <br>
    <br>
    <br>
    <br>
    <h1 class="centertext slogantext">We can service the Residental, Retail, Hospitality, Medical, and Entertainment Industries</h1>
    <br>
    <br>
    <br>
   

    <div class="row">
        <div class="column">
            <div class="card abouttext" style="width: 98%; height: 30%; text-align: center;">
                <div class="card-body">
                  <h4 class="card-title slogantext">Commercial Painting</h4>
                  <div class="whiteline"></div>
              <br>
              <br>
                  <p class="card-text">
                    At Lee Decorating Inc, we stand out as experts in the realm of commercial painting applications. Our diverse portfolio spans a spectrum of projects, encompassing apartment complexes, hospitals, hotels, retail stores, indoor waterparks, restaurants, and educational facilities. With a seasoned management team and a robust workforce, we possess the capability to undertake projects of any scale, ensuring excellence in every brushstroke and commitment to delivering unparalleled results.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 98%; height: 35%; text-align: center;">
                <div class="card-body">
                  <h4 class="card-title slogantext">Floor Coatings</h4>
                  <div class="whiteline"></div>
              <br>
              <br>
                  <p class="card-text"> Crafted with precision, our specialized floor coverings at Lee Decorating Inc. transcend the ordinary, enriching surfaces with an exquisite blend of durability, aesthetics, and performance. Tailored to the unique demands of different flooring materials and spaces, our services encompass a spectrum of transformative solutions. From the seamless brilliance of Epoxy Coatings to the protective prowess of Vapor Barriers, the enhancing touch of Acrylic Sealers, the artistic allure of Concrete Stain, the safety assurance of Anti-Slip Coatings, to the vibrant versatility of Floor Paints – our offerings redefine the art and science of flooring aesthetics and functionality.</p>
                </div>
              </div>
            <br>
            <div class="card abouttext" style="width: 98%; height: 36%; text-align: center;">
                <div class="card-body">
                  <h4 class="card-title slogantext">Pressure Washing</h4>
                  <div class="whiteline"></div>
              <br>
              <br>
                  <p class="card-text">Unleashing the power of pressure washing, we offer an unparalleled solution to eliminate stubborn damages that elude conventional cleaning methods. Beyond mere soap and water, our services redefine cleanliness, enhancing your home's allure, boosting property value, mitigating future repairs, and priming surfaces for the flawless application of paints and stains. Elevate your curb appeal with the transformative force of our pressure washing expertise.</p>
                </div>
              </div>
            <br>
        </div>
        <div class="column">
          <div class="card abouttext" style="width: 98%; height: 30%; text-align: center;">
            <div class="card-body">
              <h4 class="card-title slogantext">Residential Interior Painting</h4>
              <div class="whiteline"></div>
              <br>
              <br>
              <p class="card-text">With a wealth of experience, we elevate homeowners' expectations by delivering the utmost quality in both interior and exterior property transformations. Our meticulous approach encompasses essential preparation and repairs, culminating in a superior finish designed not only to enhance aesthetics but also to fortify against environmental elements, ensuring enduring beauty and protection for every home we touch.</p>
            </div>
          </div>
        <br>
        <div class="card abouttext" style="width: 98%; height: 35%; text-align: center;">
            <div class="card-body">
              <h4 class="card-title slogantext">Wallcovering</h4>
              <div class="whiteline"></div>
              <br>
              <br>
              <p class="card-text">At Lee Decorating Inc., we proudly boast the region's most seasoned and dependable team of wallcovering installers. Our expertise extends to both non-residential spaces of any magnitude and residential homes, where we specialize in elevating walls to new heights of durability, acoustics, and aesthetics. From a diverse array of designs, patterns, to textures, our wallcoverings redefine spaces, ensuring a perfect fusion of functionality and style.</p>
            </div>
          </div>
        <br>
            <div class="card abouttext" style="width: 98%; height: 36%; text-align: center;">
                <div class="card-body">
                  <h4 class="card-title slogantext">Dry Ice Blasting</h4>
                  <div class="whiteline"></div>
              <br>
              <br>
                  <p class="card-text">As trailblazers in our industry, Lee Decorating Inc. proudly distinguishes itself as one of the select few offering the cutting-edge service of ice blasting. Also known as dry ice or CO2 blasting, this revolutionary cleaning method employs accelerated dry ice pellets propelled by compressed air to expertly expunge contaminants from surfaces. Beyond its unrivaled effectiveness, ice blasting stands out for being non-abrasive, non-conductive, residue-free (unlike water or sand blasting), environmentally friendly, and a proven downtime reducer. Ideal for rejuvenating kitchen equipment, revitalizing damaged steel, and revitalizing manufacturing facilities, this process sets the standard for precision and environmental responsibility.</p>
                </div>
              </div>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    </div>
  <br>
  <br>
  <br>

{% endblock %}